html {
    width: 460px;
}

body {
    font-family: 'Chewy', cursive;
    font-size: 20px;
    background-color: #FFF6DE;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 600px;
}

.container {
    background-color: #FFF6DE;
    /* padding: 2rem; */
    border-radius: 8px;
    width: 400px;
    text-align: center;
}

.title {
    font-family: 'Chewy', cursive;
    font-size: 60px;
    margin-bottom: 1rem;
    color: #4D92BC;
    text-align: center;
    margin-left: 50px;
}

.carousel {
    position: relative;
    margin: 0rem auto;
    width: 200px;
    height: 200px;
}

.carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #D1CEB2;
    border: 2px solid #000;
    padding: 0.5rem;
    cursor: pointer;
    font-size: 18px;
    outline: none;
    /* Ensures no outline appears on focus */
}

.carousel-button:focus {
    outline: none;
    /* Removes outline on focus */
}

.carousel-button:hover {
    transform: translateY(-50%) scale(1.5);
    /* Scale up on hover */
}

.plant-image {
    width: 200px;
    /* Set your desired width for the plant images */
    height: auto;
    /* Maintain aspect ratio */
    margin-top: 2px;
    /* Add horizontal spacing between the image and buttons */

}

.prev {
    left: -50px;
}

.next {
    right: -50px;
}

.input-container {
    margin: 0 auto;
    flex-direction: column;
    gap: 1rem;
    width: 300px;

}

.input-group {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.input-group input {
    width: 200px;
    padding: 8px;
    border: 2px solid #000;
    border-radius: 8px;
    margin-top: 10px;
    margin-left: 95px;
}

.timer-container,
.water.container {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 0.5rem;
    margin-left: 30px;
}

input[type="number"] {
    width: 100px;
    padding: 8px;
    font-size: 16px;
    text-align: center;
    align-items: center;
    border: 2px solid #000;
    border-radius: 8px;
    margin-right: 5px;
}

#timerDisplay {
    margin-top: 10px;
    font-size: 18px;
    color: #333;
    align-items: center;
}


.water-button {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: 2px solid #000;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
    margin-left: 30px;
}

.select-button {
    width: 100%;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    border: 2px solid #000;
    border-radius: 8px;
    cursor: pointer;
    align-items: center;
    margin-right: 10px;
}

.select-plant {
    width: 120px;
    margin-top: -10px;
    padding: 5px 10px;
    font-size: 16px;
    background-color: rgb(252 211 77);
    border: 2px solid #000;
    border-radius: 8px;
    cursor: pointer;
    align-items: center;
    margin-right: 0px;
}

.select-button:hover {
    background-color: #4CAF50;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
        /* Scale up */
    }

    100% {
        transform: scale(1);
        /* Scale back to original size */
    }
}

.pulse {
    animation: pulse 0.5s;
    /* Duration of the pulse animation */
}

.btn2 {
    --btn-color: rgb(124 45 18);
    --btn-bg: rgb(252 211 77);
    margin: 20px;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    background-color: var(--btn-bg);
    color: var(--btn-color);
    padding: 14px 22px;
    border-radius: 8px;
    border: 0;
    cursor: pointer;
    font-weight: 600;
    font-size: 1rem;
    font-family: system-ui;
    border: 2px solid var(--btn-color);
    transition: 100ms ease;
    box-shadow: 5px 5px 0 0 var(--btn-color);
}

.btn2--secondary {
    --btn-color: #444;
    --btn-bg: #fafafa;
}

.btn2 svg {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}

.btn2:hover {
    box-shadow: 2px 2px 0 0 var(--btn-color);
}

.btn2:active {
    transition: 50ms ease;
    box-shadow: 0 0 0 0 var(--btn-color);
}

.btn2:focus-visible {
    outline: 0;
    --btn-color: #002cc8;
}

.btn2:focus-visible::after {
    position: absolute;
    left: 50%;
    top: calc(100% + 12px);
    transform: translateX(-50%);
    content: "\21E7";
    animation: float .5s ease-in-out infinite;
}


.btn {
    --btn-color: rgb(40, 51, 169);
    --btn-bg: rgb(96, 153, 238);
    /* margin: 40px; */
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    background-color: var(--btn-bg);
    color: var(--btn-color);
    padding: 14px 22px;
    border-radius: 8px;
    border: 0;
    cursor: pointer;
    font-weight: 600;
    font-size: 1rem;
    font-family: system-ui;
    border: 2px solid var(--btn-color);
    transition: 100ms ease;
    box-shadow: 5px 5px 0 0 var(--btn-color);
}

.btn--secondary {
    --btn-color: #444;
    --btn-bg: #fafafa;
}

.btn svg {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}

.btn:hover {
    box-shadow: 2px 2px 0 0 var(--btn-color);
}

.btn:active {
    transition: 50ms ease;
    box-shadow: 0 0 0 0 var(--btn-color);
}

.btn:focus-visible {
    outline: 0;
    --btn-color: #002cc8;
}

.btn:focus-visible::after {
    position: absolute;
    left: 50%;
    top: calc(100% + 12px);
    transform: translateX(-50%);
    content: "\21E7";
    animation: float .5s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateX(-50%) translatey(0px);
    }

    50% {
        transform: translateX(-50%) translatey(-6px);
    }

    100% {
        transform: translateX(-50%) translatey(0px);
    }
}

html,
body {
    height: 100%;
}

body {
    display: grid;
    place-content: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
}